.article-title{
    font-size: 30px;
    font-family: 'inter' sans-serif;
    font-weight: 700;
    margin-bottom: 27px;
    margin-left: 54px;
}
.article-dec {
    font-size: 17px;
    font-weight: 400;
    font-family: 'inter' sans-serif;
    margin-left: 54px;
}
.article-data {
    font-size: 14px;
    font-family: 'inter' sans-serif;
    font-weight: 400;
    margin-left: 54px;
}
.btns-wrap {
    display: flex;
    justify-content: flex-end;
    justify-content: space-between;
}

.read-more {
    font-size: 12px;
    font-weight: 700;
    font-family: 'inter' sans-serif;
    color: black;

}